
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor = "let emp of product">

                <td>{{emp.id}}</td>
                
                <td>{{emp.name}}</td>
                
                <td>{{emp.salary}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
